//bgcolor
$green: #07617d;
$darkgreen: #2e382e;
$section-green: #9abdbf;
$lightgreen: #bed6d5;

$bg-color: #fbfef9;
$btn-color: #33717d;
$btn-light-color: #dfebeb;
$btn-disable: #c4cdd4;
$card-bgc: #ffffff;
//fontcolor
$font_color: #333;
