@import "color";

$font_weight: "EL", "R";
@each $weight in $font_weight {
    /*  @font-face {
        font-family: "font-#{$weight}";
        src: url("https://github.com/ButTaiwan/gensen-font/blob/master/ttc/GenSenRounded-#{$weight}.ttc");
    } */

    @font-face {
        font-family: "font-EL";
        src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Thin.woff2)
                format("woff2"),
            url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Thin.woff)
                format("woff");
    }
    @font-face {
        font-family: "font-R";
        src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2)
                format("woff2"),
            url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff)
                format("woff");
    }
}

/* @font-face {
    font-family: "Inkfree";
    src: url("@/assets/font/Inkfree.ttf");
} */

@font-face {
    font-family: "Inkfree";
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot");
    src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free")
            format("svg");
}

$h1: 45px;
$h2: 36px;
$h3: 24px;
$h4: 18px;
$p: 15px;

@mixin rwd-h1 {
    @media (max-width: 768px) {
        font-size: 36px;
    }
}
@mixin rwd-h2 {
    @media (max-width: 768px) {
        font-size: 24px;
    }
}
@mixin rwd-h3 {
    @media (max-width: 768px) {
        font-size: 18px;
    }
}
@mixin rwd-h4 {
    @media (max-width: 768px) {
        font-size: 15px;
    }
}
@mixin rwd-p {
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

html {
    font-family: "font-EL";
    color: $font-color;
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    div,
    button {
        font-family: "font-R";
    }
    h1 {
        font-size: $h1;
        @include rwd-h1;
    }
    h2 {
        font-size: $h2;
        @include rwd-h2;
    }
    h3 {
        font-size: $h3;
        @include rwd-h3;
    }
    h4,
    button {
        font-size: $h4;
        @include rwd-h4;
    }
    p,
    a {
        font-size: $p;
        @include rwd-p;
    }
    a {
        color: $btn-color;
        font-weight: 700;
        &:hover {
            color: $green;
        }
    }
    i {
        font-family: "Ionicons" !important;
    }
}
