@import "color";

// <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet"/>

// $fontFamily: "Noto Sans TC", sans-serif; //思源黑體

$font_weight: "EL", "R";
@each $weight in $font_weight {
    @font-face {
        font-family: "font-#{$weight}";
        src: url("@/assets/font/GenSenRounded-#{$weight}.ttc");
    }
}
@font-face {
    font-family: "Inkfree";
    src: url("@/assets/font/Inkfree.ttf");
}

$h1: 45px;
$h2: 36px;
$h3: 24px;
$h4: 18px;
$p: 15px;

@mixin rwd-h1 {
    @media (max-width: 767px) {
        font-size: 36px;
    }
}
@mixin rwd-h2 {
    @media (max-width: 767px) {
        font-size: 24px;
    }
}
@mixin rwd-h3 {
    @media (max-width: 767px) {
        font-size: 18px;
    }
}
@mixin rwd-h4 {
    @media (max-width: 767px) {
        font-size: 15px;
    }
}
@mixin rwd-p {
    @media (max-width: 767px) {
        font-size: 12px;
    }
}

html {
    font-family: font-EL;
    color: $font-color;
    h1,
    h2,
    h3,
    h4 {
        font-family: font-R;
        margin-bottom: 10px;
    }
    h1 {
        font-size: $h1;
        @include rwd-h1;
    }
    h2 {
        font-size: $h2;
        @include rwd-h2;
    }
    h3 {
        font-size: $h3;
        @include rwd-h3;
    }
    h4 {
        font-size: $h4;
        @include rwd-h4;
    }
    p,
    a {
        font-size: $p;
        @include rwd-p;
    }
    a {
        color: $btn-color;
        font-weight: 700;
        &:hover {
            color: $green;
        }
    }
}
