@media (max-width: 1200px) {
    .wrapper {
        max-width: calc(100% - 80px);
    }
    .banner {
        width: 100%;
        // height: 320px;
        background-attachment: fixed;
        background-position: center 0;
        background-size: contain;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 200px;
    }
    .wrapper {
        margin: 0 auto;
        max-width: calc(100% - 80px);
    }
}
