//icon-iview
//<Icon type= "md-search" / >; //search
//<Icon type="md-close" />  //md-close
//<Icon type="md-person" /> //member
//<Icon type="md-eye" /> //eye
//<Icon type="md-eye-off" /> //eye-off
//<Icon type="ios-cart-outline" /> //shopping cart
//<Icon type="ios-help-circle-outline" /> //help
//<Icon type="md-menu" /> //ham
//<Icon type="ios-arrow-dropright" /> right(商品圖片)
//<Icon type="ios-arrow-dropleft" />left (商品圖片)
//<Icon type="md-download" /> //download
//
//font-awesome cdn
//<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
//font-awesome
//<font-awesome-icon icon="fa-regular fa-pen-to-square" /> //edit
//<font-awesome-icon icon="fa-brands fa-square-facebook" /> //fb
//<font-awesome-icon icon="fa-brands fa-instagram" /> //ig
//<font-awesome-icon icon="fa-brands fa-youtube" /> //yt
//<font-awesome-icon icon="fa-brands fa-twitter" /> //twitter
@import "../base/color";

//btn
%btn {
    border-radius: 10px;
    border: solid 0.5px $btn-color;
    color: $btn-color;
    font-size: 1.2rem;
    box-shadow: 0px 2px 2px 2px rgba(101, 101, 101, 0.2);
    user-select: none;
    cursor: pointer;

    &:hover {
        font-weight: 700;
    }
}

.btn {
    &-paramy {
        @extend %btn;
        background-color: $btn-color;
        color: $bg-color;

        &:active {
            box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2),
                inset 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
    }

    &-secondary {
        @extend %btn;
        background-color: $btn-light-color;

        &:hover {
            background-color: $btn-color;
            color: white;
        }
    }

    &-lowest {
        @extend %btn;
        color: $btn-color;
        background-color: #fbfef9;

        &:hover {
            background-color: $btn-light-color;
        }
    }
}

//input checkbox radio
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
        --active: $btn-color;
        --active-inner: #fff;
        --border: $btn-color;
        --border-hover: $btn-color;
        --background: #fff;
        --disabled: $btn-disable;
        --disabled-inner: $btn-disable;

        appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
        &:after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
                opacity var(--d-o, 0.2s);
        }
        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: 0.3s;
            --d-t: 0.6s;
            --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
        }
        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: 0.9;
            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }
            & + label {
                cursor: not-allowed;
            }
        }
        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--border-hover);
                }
            }
        }
        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }
        &:not(.switch) {
            width: 21px;
            &:after {
                opacity: var(--o, 0);
            }
            &:checked {
                --o: 1;
            }
        }
        & + label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }
    input[type="checkbox"] {
        &:not(.switch) {
            border-radius: 7px;
            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }
            &:checked {
                --r: 43deg;
            }
        }
        &.switch {
            width: 38px;
            border-radius: 11px;
            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }
            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }
            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    input[type="radio"] {
        border-radius: 50%;
        &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, 0.7));
        }
        &:checked {
            --s: 0.5;
        }
    }
}

//input text
input[type="text"] {
    border: solid 1px $btn-light-color;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    transition: 0.5s;

    &:active {
        border: solid 1px $btn-color;
    }
}

//select
select {
    appearance: none;
    // background-image:
}
