.ivu-icon {
    transform: scale(1.2);
    color: $btn-light-color;
    cursor: pointer;
    &:hover {
        color: $btn-color;
    }
}
//<i class="ivu-icon ivu-icon-ios-checkmark"></i>
//icon-iview
//<Icon type= "md-search" / >; //search
//<Icon type="md-close" />  //close
//<Icon type="md-person" /> //member
//<Icon type="ios-cart-outline" /> //shopping cart
//<Icon type="ios-help-circle-outline" /> //help
//<Icon type="md-menu" /> //ham
//<Icon type="ios-arrow-dropright" /> right(商品圖片)
//<Icon type="ios-arrow-dropleft" />left (商品圖片)
//<Icon type="md-download" /> //download
//<Icon type="logo-facebook" /> //fb
//<Icon type="logo-twitter" /> //twitter
//<Icon type="logo-youtube" /> //yt
//<Icon type="logo-instagram" />//ig

@import "../base/color";

//btn
%btn {
    border-radius: 10px;
    border: solid 0.5px $btn-color;
    color: $btn-color;
    font-size: 1.2rem;
    box-shadow: 0px 2px 2px 2px rgba(149, 149, 149, 0.2);
    user-select: none;
    cursor: pointer;

    &:hover {
        font-weight: 700;
    }
}

.btn {
    &-paramy {
        @extend %btn;
        background-color: $btn-color;
        color: $bg-color;

        &:active {
            box-shadow: 0px 2px 2px 2px rgba(149, 149, 149, 0.2),
                inset 0px 2px 2px 2px rgba(149, 149, 149, 0.2);
        }
    }

    &-secondary {
        @extend %btn;
        background-color: $btn-light-color;

        &:hover {
            background-color: $btn-color;
            color: white;
        }
    }

    &-lowest {
        @extend %btn;
        color: $btn-color;
        background-color: #fbfef9;

        &:hover {
            background-color: $btn-light-color;
        }
    }
}

//input checkbox,radio

%input {
    appearance: none;
    display: inline-block;
    padding: 3px 5px;
    margin-right: 3px;
    border: 1px solid $btn-light-color;
    border-radius: 10px;
    color: $btn-color;
    cursor: pointer;
    vertical-align: middle;
    outline: none;

    &:checked {
        // color: $btn-color;
        background-color: $btn-color;
    }
    &::placeholder {
        color: $btn-disable;
    }
}
input[type="radio"] {
    @extend %input;
    padding: 6px;
    border-radius: 50%;
}
input[type="checkbox"] {
    @extend %input;
    padding: 6px;
    border-radius: 3px;
}

//input text
input[type="text"] {
    @extend %input;

    &:focus {
        border: solid 1px $btn-color;
    }
}

//select
select {
    padding: 5px 10px;
    border: solid 1px $btn-color;
    outline: none;
    border-radius: 5px;

    option {
        border-bottom: 0.5 solid $btn-color;
        color: $btn-color;
    }
}
