//icon-iview
//<Icon type= "md-search" / >; //search
//<Icon type="md-close" />  //md-close
//<Icon type="md-person" /> //member
//<Icon type="md-eye" /> //eye
//<Icon type="md-eye-off" /> //eye-off
//<Icon type="ios-cart-outline" /> //shopping cart
//<Icon type="ios-help-circle-outline" /> //help
//<Icon type="md-menu" /> //ham
//<Icon type="ios-arrow-dropright" /> right(商品圖片)
//<Icon type="ios-arrow-dropleft" />left (商品圖片)
//<Icon type="md-download" /> //download
//
//font-awesome cdn
//<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
//font-awesome
//<font-awesome-icon icon="fa-regular fa-pen-to-square" /> //edit
//<font-awesome-icon icon="fa-brands fa-square-facebook" /> //fb
//<font-awesome-icon icon="fa-brands fa-instagram" /> //ig
//<font-awesome-icon icon="fa-brands fa-youtube" /> //yt
//<font-awesome-icon icon="fa-brands fa-twitter" /> //twitter
@import "../base/color";

//btn
%btn {
    border-radius: 10px;
    border: solid 0.5px $btn-color;
    color: $btn-color;
    font-size: 1.2rem;
    box-shadow: 0px 2px 2px 2px rgba(101, 101, 101, 0.2);
    user-select: none;
    cursor: pointer;

    &:hover {
        font-weight: 700;
    }
}

.btn {
    &-paramy {
        @extend %btn;
        background-color: $btn-color;
        color: $bg-color;

        &:active {
            box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2),
                inset 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
    }

    &-secondary {
        @extend %btn;
        background-color: $btn-light-color;

        &:hover {
            background-color: $btn-color;
            color: white;
        }
    }

    &-lowest {
        @extend %btn;
        color: $btn-color;
        background-color: #fbfef9;

        &:hover {
            background-color: $btn-light-color;
        }
    }
}

//input
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
        outline: none;
        display: inline-block;
        // vertical-align: top;
        // position: relative;
        // margin: 0;
        cursor: pointer;
        border: 1px solid $btn-color;
    }
}
