.ivu-modal-confirm-head {
    .ivu-icon {
        color: $green;
    }
}
.ivu-btn-text {
    &:hover {
        color: $green;
    }
}
.ivu-btn-primary {
    background-color: $green;
    border-color: $green;
    &:hover {
        background-color: $green;
        border-color: $green;
    }
}
.ivu-tabs-nav {
    .ivu-tabs-tab {
        color: $lightgreen;
        &:hover {
            color: #33717d;
        }
    }
    .ivu-tabs-tab-active {
        color: #33717d;
    }
    .ivu-tabs-ink-bar {
        background-color: #33717d;
    }
}
