@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@mixin btnSize($w) {
    padding: 5px $w;
}
@mixin absolute($top, $bottom, $left, $right) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

//後台可用30px
@mixin borderLeft($p) {
    position: relative;
    padding-left: $p;
    margin: 10px 0;
    transform: translate(-$p, 0);
    &::before {
        content: "";
        border-left: solid 5px $green;
        position: absolute;
        left: 0;
        height: 100%;
    }
}
@mixin bgSetting($contain, $position) {
    background-repeat: no-repeat;
    background-size: $contain;
    background-position: $position;
}

@mixin d() {
    @media all and (max-width: 1200px) {
        @content;
    }
}
@mixin m() {
    @media all and (max-width: 768px) {
        @content;
    }
}
@mixin media($bp) {
    @media all and (max-width: $bp + px) {
        @content;
    }
}
