@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@mixin btnSize($w) {
    padding: 5px $w;
}
@mixin containerSize {
    width: 1200px;
}
@mixin absolute($top, $bottom, $left, $right) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}
@mixin borderLeft {
    padding-left: 10px;
    border-left: solid 5px $green;
}
